@model Andrade.Chamados.Web.ViewModels.Grafico.ListaGraficoViewModel
@using Andrade.Chamados.Web.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage01.cshtml";
}

<div class="jumbotron">
    <center>
        <div class="container">
            <h1> Tela de gráficos</h1>
            <p> Visualize todo as inoformações da sua operação rapidamente</p>
        </div>
    </center>
</div>

    <div class="panel panel-default">
        <div class="panel-heading"> gráficos do status</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <canvas id="pie-chart-status" width="800" height="450"></canvas>
                </div>
                <div class="col-lg-6">
                    <canvas id="bar-chart-status" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"> gráficos do setor</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <canvas id="pie-chart-setor" width="800" height="450"></canvas>
                </div>
                <div class="col-lg-6">
                    <canvas id="bar-chart-setor" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>


@section Scripts
  {
    
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Chart.Util.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {



            /* GRÁFICOS DO STATUS */
            @Html.GerarGraficoChartJs("bar-chart-status", 
           Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
           Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
           "bar", "Gráfico de barra de status")

              @Html.GerarGraficoChartJs("pie-chart-status",
           Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
           Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
           "pie", "Gráfico de pizza de status")
           
           /* GRÁFICOS DO SETOR */

           @Html.GerarGraficoChartJs("bar-chart-setor", 
           Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
           Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
           "bar", "Gráfico de barra de setor")

           @Html.GerarGraficoChartJs("pie-chart-setor",
           Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
           Html.Raw(Json.Encode(Model.GraficoStatus.Data)),
           "pie", "Gráfico de pizza de setor")
           
           
        });
    </script>

}

