<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="~/Conta/Login"> Login </a></li>
            <li><a href="~/Conta/CadastrarUsuario"> Cadastrar usuário </a></li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
